body {
  font-family: "Roboto", sans-serif;
  @include font(14px, 1.71);

  background-color: var(--primary-white-color);

  color: var(--primary-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &--no-padding {
    padding-top: 0;
  }

  &--command {
    background-color: var(--grey-bgc);
  }
}

.list-title {
  @include font(14px, 1.14, 700);

  margin-bottom: 10px;

  text-transform: uppercase;
  text-align: center;

  color: var(--title-text-color);

  &--footer,
  &__form-footer {
    margin-bottom: 20px;

    color: var(--primary-white-color);

    @include tablet {
      display: flex;
      justify-content: center;
    }
  }
}

.title {
  @include font(28px, 1.17, 700);

  @include desktop {
    @include font(36px, 1.17, 700);
  }

  margin-bottom: 30px;
  // margin-bottom: 50px;

  text-align: center;

  color: var(--title-text-color);
}

.btn {
  @include font(16px, 1.88, 700, 0.06em);
  font-family: "Roboto", sans-serif;
  text-align: center;

  border: none;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--hover:hover,
  &--hover:focus {
    background-color: var(--btn-activ-color);
    border: none;

    transform: scale(1.02);
  }
}

.hover-focus:hover,
.hover-focus:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.no-scroll {
  overflow: hidden;
}
