:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --grey-bgc: #f5f4fa;
  --dark-grey-bgc: #2f303a;
  --btn-activ-color: #188ce8;
  --icon-color: #afb1b8;
  --gap: 30px;
}
